.Card {
    width: 200px;
    height: 200px;
    position: relative;
    border: 2px solid #4A6AE2;
    border-radius: 4px;
    /* background-color: #E2E7FA; */
    display: grid;
    align-items: center;
    justify-items: center;
    transition: background-color 300ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
    border: 2px solid #4A6AE2;
    border-radius: 4px;
    background-color: #4A6AE2;
}

.Card:hover h3 {
    color: #FFFFFF;
}

.Card img {
    align-content: center;
}

.Card h3 {
    color: #4A6AE2;
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto 0 auto;
    text-align: center;
}

.Card .Contents {
    width: 88px;
    display: grid;
}

